@font-face {
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue.ttf); }

@font-face {
  font-family: MullerBlack;
  src: url(../fonts/MullerBlack.ttf); }

@font-face {
  font-family: MullerBlackItalic;
  src: url(../fonts/MullerBlackItalic.ttf); }

@font-face {
  font-family: MullerBold;
  src: url(../fonts/MullerBold.ttf); }

@font-face {
  font-family: MullerExtraBold;
  src: url(../fonts/MullerExtraBold.ttf); }

@font-face {
  font-family: MullerLight;
  src: url(../fonts/MullerLight.ttf); }

@font-face {
  font-family: MullerRegular;
  src: url(../fonts/MullerRegular.ttf); }

body {
  margin: 0;
  padding: 0;
  font-family: MullerRegular, sans-serif;
  color: #fefefe;
  font-size: 16px;
  z-index: 1;
  overflow-x: hidden;
}

h1, h2, h3 {
  margin: 0;
  padding: 0; }

.container-fluid {
  width: 100%;
  z-index: 10; }

.container-fluid.first-container-fluid {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover 120%;
  background-position: center top ;
  overflow: hidden;
}

.container {
  width: 1140px;
  margin: 0 auto; }

.logo {
  position: relative;

}
.logo p {
  font-family: MullerBlack;
  font-size: 2rem;
  letter-spacing: 15px;
  margin-bottom: 5rem;
}
.logo p span {
  color: #18f988;
}
.logo .logo__country {
  position: absolute;
  right: 0;
  top: 12px;
  display: flex;
}
.logo .logo__country span {
  text-transform: uppercase;
  margin-right: 5px;
}
.logo__country .ru {
  visibility: hidden;
  transform: translate(0, -10%);
  position: absolute;
  right: 2px;
  top: 35px;
  display: flex;
  align-items: center;
  opacity: 0;
  
  transition: 0.5s;
}
.logo__country .ru a {
  color: #fff;
  text-decoration: none;
}
.logo__country:hover > .ru {
  visibility: visible;
  transform: translate(0, 0);
  opacity: 10;
}
.logo__img img {
  width: 90%;
}
.logo__img p {
  font-family:'Conv_Vibes';
  font-size: 6.8rem;
  margin: 0 auto;
  color: #000;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.title__img img {
  max-width: 425px;
}
.title__logo .logo__content {
  margin-top: 20px;
}
.title__logo .logo__content h1 {
  font-family: MullerBold, sans-serif;
  font-size: 2.22em;
  letter-spacing: 4px;
  color:#18f988;
}
.title__logo .logo__content .content__text {
  margin-top: 55px;
  font-family: MullerLight, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

.profit-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap; }
  .profit-block .profit-item {
    text-align: center;
    z-index: 10;
  }
    .profit-block .profit-item h2 {
      font-family: MullerBlack, sans-serif;
      font-size: 1.5em;
    }
    .profit-block .profit-item p {
      font-family: MullerRegular, sans-serif;
      font-size: 1em;
    }
    .profit-block .profit-item h2.big-text {
      font-size: 2.53em;
      line-height: 0.7em;
    }
.main-button {
  margin-bottom: 30px;
  text-align: center; }
  .main-button .info-block {
    visibility:hidden;
     text-align: left;
    opacity: 0;
    position: absolute;
    color: #000;
    padding: 40px;
    background-color: #fff;
    width: 600px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0px 6px 10px #999 }
    .main-button .info-block h1 {
       font-family: MullerBold, sans-serif;
      font-size: 1.5em;
      text-transform: uppercase; }
    .main-button .info-block p {
       font-family: MullerRegular, sans-serif;
      font-size: 1.3em;
      letter-spacing: -0.5px; }
      .main-button .info-block p.text-grey {
      color: #999; }
      .main-button .info-block .bold {
      font-family: MullerBold, sans-serif; }
  .main-button a {
    font-family: MullerExtraBold, sans-serif;
    font-size: 2.14em;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 40px;
    background-color: #000;
    color: #18f989;
    text-decoration: none;
    text-align: center; }
    .main-button:hover > .info-block {
     visibility:visible;
      opacity: 10;
      transform: translate(-50%, 5%); }

.arrow {
  background: url(../img/arrow.png) no-repeat;
  width: 80px;
  height: 80px;
  margin: 0 auto 60px auto; }

.million-block {
  border: 15px solid #fff;
  padding: 45px 80px;
  position: relative;
  margin-bottom: 50px; }
  .million-block h1 {
    font-family: MullerBlack, sans-serif;
    font-size: 5.3em;
    text-transform: uppercase; }
  .million-block img {
    position: absolute;
    right: -300px;
    top: -129px; }

.period {
  text-align: center;
  margin-bottom: 40px; }
  .period h2 {
    font-family: MullerBlackItalic, sans-serif;
    font-size: 3.14em; }

.presents-block {
  margin-top: 120px;
  height: 400px;
  position: relative;
  margin-bottom: 60px;
}
.presents-block p {
  color: #111;font-size: 2rem;text-align: center;margin: 0;display: inline-block;width: 250px;margin-top: -40px;
}
  .presents-block__item1 {
    position: absolute;
    left: 0;
    top: -110px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presents-block__item2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presents-block__item3 {
    position: absolute;
    right: 0;
    top: -90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.rules-block.mobile {
  display: none; }

.rules-block {
  text-align: center;
  color: #000;
  width: 90%;
  margin: -90px auto 100px auto;
}
  .rules-block h2 {
    font-family: MullerRegular, sans-serif;
    font-size: 3.25em;
    margin-bottom: 30px;
  margin-top: 30px;
 }
  .rules-block .rules-block__row {
    display: flex;
    justify-content: space-between;
    font-family: MullerRegular, sans-serif;
    font-size: 1.87em;
    font-weight: 600; }
  .rules-block__item {
    text-align: left;
    border-top: 2px solid #d09024;
    padding-top: 20px;
    width: 292px; }

.container-fluid.second-container-fluid {
  padding-top: 50px;
  background: url(../img/bg-footer.png) no-repeat;
  background-size: cover 100%;
  background-position: center bottom;
  height: 1500px;
  overflow: hidden;
}

.name-game-block {
  text-align: center;
  width: 90%;
  margin: 0 auto; }
  .name-game-block h2 {
    font-family: MullerLight, sans-serif;
    font-size: 2.75em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .name-game-block .top-game-block {
    border: 15px solid #fff;
    padding: 60px 15px 0px 15px;
    text-transform: uppercase;
    position: relative; }
    .name-game-block .top-game-block p {
      font-family: MullerBlack, sans-serif;
      font-size: 3.71em;
      padding: 0;
      margin: 0;
      line-height: 0.5em; }
    .name-game-block .top-game-block span {
      font-family: MullerBlack, sans-serif;
      font-size: 10em;
      display: table;
      margin: 0 auto;
      background-image: -webkit-linear-gradient(to right, #e1b42a, #ff9731);
      background-image: linear-gradient(to right, #e1b42a, #ff9731);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    .name-game-block .top-game-block__img1 {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: url(../img/ph1.png) no-repeat center;
      position: absolute;
      top: -87px;
      right: -97px; }
    .name-game-block .top-game-block__img2 {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: url(../img/ph2.png) no-repeat center;
      position: absolute;
      top: -90px;
      left: -117px; }
    .name-game-block .top-game-block__img3 {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: url(../img/ph3.png) no-repeat center;
      position: absolute;
      top: 0;
      right: -300px; }
    .name-game-block .top-game-block__img4 {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: url(../img/ph4.png) no-repeat center;
      position: absolute;
      right: -182px;
      bottom: 30px; }
    .name-game-block .top-game-block__img5 {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: url(../img/ph5.png) no-repeat center;
      position: absolute;
      right: -52px;
      bottom: -155px; }
    .name-game-block .top-game-block__img6 {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      background: url(../img/ph6.png) no-repeat center;
      position: absolute;
      bottom: -164px;
      left: -108px; }
    .name-game-block .top-game-block__img7 {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: url(../img/ph7.png) no-repeat center;
      position: absolute;
      bottom: -287px;
      left: -272px; }
.top-game-block img {
  max-width: 850px;
  margin: 30px auto;
}
